:root {
  --primary: #7b5dfb;
  --light-bg: #f4f4f8;
  --text-dark: #1f1f1f;
  --text-muted: #6b6b6b;
  --white: #fff;
  font-family: "Poppins", sans-serif;
}

body {
  margin: 0;
  background: var(--light-bg);
}

.login-container {
  display: flex;
  min-height: 100vh;
}

/* LEFT PANEL */
.login-left {
  flex: 1;
  background: linear-gradient(135deg, #ffffff, #f9f9ff, #f3f0ff);
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  overflow: hidden;
}



.login-box {
  width: 320px;
}

/* .login-box {
  width: 340px;
  background: rgba(255, 255, 255, 0.9);
  padding: 30px 25px;
  border-radius: 16px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.06);
  z-index: 1;
  backdrop-filter: blur(10px);
} */

.login-box h2 {
  font-size: 29px;
  margin-bottom: 5px;
  font-weight: 600;
  color: var(--text-dark);
}

.subtext {
  font-size: 16px;
  color: var(--text-muted);
  margin-bottom: 25px;
}

.login-box label {
  font-size: 15px;
  color: var(--text-dark);
}

.login-box input,
.login-box select {
  width: 100%;
  padding: 10px;
  margin-top: 4px;
  margin-bottom: 16px;
  border-radius: 8px;
  border: 1px solid #ccc;
  font-size: 14px;
}

.form-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 13px;
  margin-bottom: 18px;
}

.forgot {
  text-decoration: none;
  color: var(--primary);
}

.remember {
  display: flex;
  align-items: center;
  gap: 6px;
  font-size: 13px;
  color: #444;
}

.remember input[type="checkbox"] {
  accent-color: #7b5dfb;
  /* purple color checkbox */
  width: 16px;
  height: 16px;
  cursor: pointer;
}

.forgot {
  font-size: 13px;
  color: #7b5dfb;
  text-decoration: none;
}

.forgot:hover {
  text-decoration: underline;
}

.btn {
  width: 100%;
  padding: 12px;
  background: var(--primary);
  color: var(--white);
  border: none;
  border-radius: 8px;
  font-size: 15px;
  cursor: pointer;
  transition: background 0.3s;
}

.btn:hover {
  background: #6849f8;
}

.signup {
  font-size: 13px;
  text-align: center;
  margin-top: 18px;
}

.signup a {
  color: var(--primary);
  text-decoration: none;
}

/* RIGHT PANEL */
.login-right {
  flex: 1;
  background: var(--primary);
  color: var(--white);
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 40px;
}

.text-box h1 {
  font-weight: 600;
  font-size: 32px;
  line-height: 1.3;
}

.text-box span {
  font-weight: 700;
}

.text-box p {
  font-size: 15px;
  margin-top: 10px;
  margin-bottom: 30px;
}

.text-box img {
  width: 80%;
  max-width: 340px;
}


/* RESPONSIVE */
@media (max-width: 768px) {
  .login-container {
    flex-direction: column;
  }

  .login-right {
    display: none;
  }

  .login-left {
    flex: none;
    width: 100%;
    padding: 20px;
  }
}

.password-box {
  position: relative;
  display: flex;
  align-items: center;
}

.password-box input {
  width: 100%;
  padding-right: 40px;
}

#togglePassword {
  position: absolute;
  right: 12px;
  cursor: pointer;
  font-size: 16px;
  color: #666;
}

.error-msg {
  font-size: 12px;
  color: red;
  margin-top: -10px;
  margin-bottom: 10px;
}

.input-error {
  border-color: red !important;
  background-color: #fff0f0;
}

input[type="email"],
input[type="password"] {
  width: 100%;
  height: 45px;
  /* SAME HEIGHT */
  padding: 10px 12px;
  box-sizing: border-box;
  /* MOST IMPORTANT */
  font-size: 16px;
}